@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: hsl(240, 10%, 4%);
  --background: hsl(252, 38%, 97%);
  --primary: hsl(248, 54%, 51%);
  --secondary: hsl(248, 75%, 75%);
  --accent: hsl(248, 95%, 60%);
  
}


body {
  color: var(--text);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background)
    )
    rgb(var(--background));
}


.footer{
  display: flex;
}
