@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #040b2f;
  --background: hsl(216, 38%, 95%);
  --primary: hsl(229, 93%, 24%);
  --secondary: hsl(229, 55%, 55%);
  --accent: #b4c4f8;
}

body {
  color: var(--text);
  background: var(--background);
}

.footer {
  display: flex;
}
